doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Flappy Bird
        link(href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Serif|Playfair+Display|Roboto&display=swap" rel="stylesheet")
        link(href="/static/css/style.css" rel="stylesheet")
        script(src="/static/js/bird.js") 
        script(src="/static/js/pipe.js") 
        script(src="/static/js/index.js") 
    body(style="display:flex;justify-content: center;align-items: center;")
        #btndiv 
            button#btn(onclick="start()") Start Simulation 
            a#btn2(href="/configure") Or configure settings
        #ediv(hidden)
            fieldset#txt-stuff 
                p#gen 
                p#weights 
                p#birds 
                p
                    b#score
            canvas#canvas.neon(width=600 height=600)